@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}

.header {
  background-color: #F596BD;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.6rem;
}

@media all and (max-width: 480px) {
  .header {
    width: 100%;
  }
}

.header .navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 480px) {
  .navegador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navegador .titulo {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2.5rem;
}

@media all and (max-width: 480px) {
  .navegador .titulo {
    font-size: 2rem;
  }
}

.navegador .listahome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474747;
}

@media all and (max-width: 480px) {
  .navegador .listahome {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 480px) {
  .navegador .listahome li {
    padding: 0.3rem;
  }
}

.navegador .listahome a {
  text-decoration: underline;
  font-weight: 1000;
  color: #4B4A49;
  margin: 0.3rem;
  padding: 0.3rem;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  border-radius: 2em;
}

.navegador .listahome a:hover {
  background: #e9aeae;
}

.subtitulo-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: 2rem;
  color: #370617;
  font-size: 3rem;
}

@media all and (max-width: 480px) {
  .subtitulo-index {
    font-size: 2.3rem;
    padding: 0.4rem;
  }
}

.subtitulo2-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: 2rem;
  color: #2b2d42;
  font-size: 3rem;
}

.contenedorindex {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media all and (max-width: 480px) {
  .contenedorindex {
    padding: 1.3rem;
  }
}

.contenedorindex .articulos__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  margin: 1.5rem;
  background-color: #F596BD;
}

@media all and (max-width: 480px) {
  .contenedorindex .articulos__home {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

.contenedorindex .articulos__home .articulos__texto {
  color: white;
  line-height: 1.5rem;
}

.contenedorindex .articulos__home .articulos__texto strong {
  font-size: 1.6rem;
  color: #836d1a;
  font-weight: 800;
}

.imagenes {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
  padding: 20px;
  -ms-box-shadow: -1px -1px 0px 0px #836d1a;
  -webkit-box-shadow: -1px -1px 0px 0px #836d1a;
  -o-box-shadow: -1px -1px 0px 0px #836d1a;
  box-shadow: -1px -1px 0px 0px #836d1a;
  -mox-box-shadow: -1px -1px 0px 0px #836d1a;
}

@media all and (max-width: 480px) {
  .imagenes {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.imagenes:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

/*sección pestañas*/
.subtitulo-pestañas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: 2rem;
  color: #353535;
  font-size: 3rem;
}

.contenedor1 {
  background-color: rgba(109, 98, 98, 0.79);
  padding: 2rem;
  margin: 2.5rem 0;
}

@media all and (max-width: 480px) {
  .contenedor1 {
    width: 100%;
  }
}

.contenedor1 .contenedor1__articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.2rem;
}

@media all and (max-width: 480px) {
  .contenedor1 .contenedor1__articulo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedor1 .contenedor1__div {
  padding: 0 1.2rem;
}

.contenedor1__parrafo, .contenedor2__parrafo {
  padding: 0.5rem 1.2rem;
  color: #fafafa;
  border-style: solid;
  border-color: #fafafa;
  box-shadow: 10px 8px 12px 4px rgba(133, 116, 116, 0.78);
  -webkit-box-shadow: 10px 8px 12px 4px rgba(133, 116, 116, 0.78);
  -moz-box-shadow: 10px 8px 12px 4px rgba(133, 116, 116, 0.78);
}

.contenedor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 480px) {
  .contenedor2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedor2 .contenedor2__articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.contenedor2 .contenedor2__articulo .subtitulo-pestañas2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: 2rem;
  color: #f28482;
  font-size: 3rem;
}

@media all and (max-width: 480px) {
  .contenedor2 .contenedor2__articulo .subtitulo-pestañas2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedor2__parrafo {
  line-height: 1.5rem;
  padding: 1.6rem;
  color: #fafafa;
  background-color: #61605f;
  border-style: none;
}

.foot {
  background-color: #292626;
  font-size: 1rem;
  padding: 0.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot .div1 ul {
  padding: 2rem;
}

.foot .div1 ul li {
  display: inline;
  padding: 1.3rem 1.6rem;
}

.foot .div2 {
  padding: 1.6rem;
}

.foot .div2 .textofooter {
  padding: 0.6rem;
}
/*# sourceMappingURL=estilos.css.map */