@import "base/mixins";
@import "base/variables";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size:1.2rem;
}



.subtitulo-index {
    h2 {
        @include subtitulos;
    color: map-get($map: $colores, $key: 'rosa');
    font-size: map-get($map: $dimension, $key: '2');
    @media all and (max-width: 576px) {
        font-size: 2rem;
        padding: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    }
}

.subtitulo2-index {
    @include subtitulos;
    color: map-get($map: $colores, $key:'violeta');
    font-size: map-get($map: $dimension, $key:'2' );
}

.contenedorindex {
    
    width: 100%;
    padding: 1.2rem;
    margin: 0 auto;
    width: 100%;
    background-color: #F596BD;
    @media all and (max-width: 1024px) {
        width: 100%;
    }
    @media all and (max-width: 768px) {
        width: 100%;
        padding: 1.5rem;
    }
    @media all and (max-width: 576px) {
        width: 100%;
        padding: 1rem;
    }
    /*@media all and (max-width: 1440px) {
        width: 100%;
    }*/
}
    .articulos__home {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    .contenedor-imagen {
        width: 100%;
        max-width: 900px;
    }    
        @media all and (max-width: 1400px){
            display: flex;
            width: 100%;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        @media all and (max-width: 1024px) {
            padding: 1.2rem;
        }
        @media all and (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        @media all and (max-width: 576px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 0;
        }
        .articulos__texto {
            color: white;
            font-size: 1.6rem;
            line-height: 1.5rem;
            padding: 0.25rem;
            strong {
                font-size: 2rem;
                color: #836d1a;
                font-weight: 800;
        }
    }
}

.imagenes {
    transition: all 0.6s ease;
    cursor: pointer;
    padding: 20px;
    margin: 1.5rem 0.35rem;
    border-radius: 2rem;
    max-width: 600px;
    @media  all and (max-width: 1440px) {
        width: 100%;
    }
    @media  all and (max-width: 1024px) {
        width: 100%;
        padding: 1rem;
    }
    @media  all and (max-width: 768px) {
        width: 100%;
    }
    @media  all and (max-width: 576px) {
        width: 100%;
        margin-bottom: 1.5rem;
        transition: none;
    }
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}


/*sección pestañas*/ 



.contenedor-sub-pestañas {
    width: 100%;
    margin: 0 auto;
    @media all and (max-width: 576px) {
        width: 100%;
        padding: 0.5rem;
    }


    .subtitulo-pestañas {
        h3 {
            @include subtitulos;
            @media all and (max-width: 576px) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                padding: 2rem;
                margin: 0 auto;
                text-decoration: none;
        }
    }
}

    .parrafo-pestañas {
        width: 95%;
        margin: 0 auto;
        padding: 0 5rem;
        font-family: 'Cormorant Upright', serif;
        font-size: 2rem;
        background: rgb(203,168,214);
        background: linear-gradient(0deg, rgba(203,168,214,1) 0%, rgba(252,233,251,1) 100%);
    @media all and (max-width: 576px) {
        font-size: 1.2rem;
        width: 100%;
        padding: 0.3rem;
        }
        @media all and (min-width: 768px) {
        width: 100%;
        font-size: 1.8rem;
        padding: 1rem;
        background-color: #000;
        }
    }
    @media all and (min-width: 1200px) {
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

.contenedor1 {
    width: 100%;
    background-color: rgba(109, 98, 98, 0.79);
    padding: 1.2rem;
    margin: 0 auto;
    .contenedor1__articulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.2rem;
        .subtitulo-pestañas {
            h3{
            @include subtitulos;
            @media all and (max-width:576px){
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
                }
            }
        }
    }
}

.contenedor1__parrafo {
        padding: 0.5rem 1.2rem;
        color: #fafafa;
        border-style: solid;
        border-color: #fafafa;
        box-shadow: 10px 8px 12px 4px rgba(133,116,116,0.78);
            -webkit-box-shadow: 10px 8px 12px 4px rgba(133,116,116,0.78);
            -moz-box-shadow: 10px 8px 12px 4px rgba(133,116,116,0.78);
            
    @media all and (max-width: 768px) {
        padding: 1.5rem;
    }
    @media all and (max-width: 992px) {
        padding: 2.1rem;
    }
    @media all and (max-width: 1400px) {
        padding: 1.8rem;
    }
}


.contenedor2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    @media all and (max-width: 576px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media all and (max-width: 768px) {
        width: 100%;
        padding: 1.5rem;
    }
    @media all and (max-width: 1024x) {
        width: 100%;
        padding: 1.8rem;
    }
    @media all and (max-width: 1400px) {
        width: 100%;
        padding: 0.25rem;
    }
    .contenedor2__articulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        @media all and (max-width: 768px) {
            width: 100%;
            padding: 1.5rem;
        }
        @media all and (max-width: 1024x) {
            width: 100%;
            padding: 1.8rem;
        }
        @media all and (max-width: 1440px) {
            width: 100%;
            padding: 3rem;
        }
        .subtitulo-pestañas2 {
            @include subtitulos;
            color: map-get($map: $colores, $key:'rosa' );
            font-size: map-get($map: $dimension, $key:'2' );
            @media all and (max-width:576px){
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.contenedor2__parrafo {
    @extend .contenedor1__parrafo;
    line-height: 1.5rem;
    padding: 1.6rem;
    color: #fafafa;
    background-color: #61605f;
    border-style: none;
}

/*tratamientos capilares*/
.contenedor-subtitulo {
    .descripcion-subtitulo {
        color: #000;
        background-color: #caadd4;
        font-size: 2rem;
        padding: 1.2rem;
        b {
            color: #836d1a;
        }
        @media all and (max-width: 480px) {
            width: 100%;
            font-size: 1.2rem;
            padding: 0.5rem;
        }
    }
}
.subtitulo-capilares {
    @include subtitulos;
    color: map-get($map: $colores, $key:'gris');
    font-size: 3rem;   
    @media all and (max-width: 480px) {
        font-size: 2.3rem;
        padding: 0.4rem;
    }
}


.contenedor-capilares {
    @extend .contenedorindex;
    .articulos-capilares {
        @extend .articulos__home;
        background-color: #e3d4f4;
        @media all and (max-width: 576px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
        @media all and (max-width: 1400px){
            display: flex;
            width: 100%;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }
        .descripcion-articulos-capilares {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
                .titulo-articulo {
                    @include titulo_articulos;
            }
                .descripcion-parrafo {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
            }
        }
    }
}


/*seccion tratamientos corporales*/

.subtitulo-corporales {
    @include subtitulos;
    color: map-get($map: $colores, $key:'gris');
    font-size: 3rem;
    @media all and (max-width: 480px) {
        font-size: 2.3rem;
        padding: 0.4rem;
    }
}

.contenedor-corporales {
    @extend .contenedorindex;
}

.articulos-corporales {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3d4f4;
    margin-bottom: 2rem;
    .titulo-articulo {
        @include titulo_articulos;
    }
    .contenedor-imagenes-corp {
        display: flex;
        flex-direction: row;
        @media all and (max-width:576px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media all and (max-width:768px) {
            display: flex;
            flex-direction: column;
        }
        @media all and(max-width:1024px) {
            display: flex;
            flex-direction: column;
        }
    }
    .parrafo-art-corporales{
        font-size: 1.3rem;
        line-height: 1.5rem;
        padding: 0.8rem 5rem;
    @media all and (max-width: 576px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.50rem 0.35rem;
        //margin: 1rem auto;
    }
}
}
/* seccion colorimetria */

.subtitulo-colorimetria {
    @include subtitulos;
    color: map-get($map: $colores, $key:'gris');
    font-size: 3rem;
    @media all and (max-width: 480px) {
        font-size: 2.3rem;
        padding: 0.4rem;
    }
}

.contenedor-colorimetria {
    @extend .contenedorindex;
}

.articulos-colorimetria {
    @extend .articulos-corporales;
    padding: 1rem;
    .titulo-articulo {
        @include titulo_articulos;
        @media all and (max-width:576px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .contenedor-imagenes-fantasia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media all and (max-width:576px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media all and (max-width:768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media all and (max-width:1024px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .parrafo-art-color {
        @extend .parrafo-art-corporales;
    }
    @media all and (max-width: 576px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
    }
}

#titulo-contacto {
    @include subtitulos;
}

#form {
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    @media all and (max-width:576px){
        width: 100%;
    }
}



.foot {
    background-color: rgb(41, 38, 38);
    color: #fafafa;
    font-size: 1rem;
    padding: 0.6rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.3rem;
    letter-spacing: 0.10rem;
    margin-top: 1rem;
    .div1 {
        ul {
        padding: 2rem;
        li{
        display: inline;
        padding: 1.3rem 1.6rem;
            }
        }    
    }
}

.foot {
    .div2 {
        padding: 1.6rem;
        .textofooter{
            padding: 0.6rem;
        }
    }
}