*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size:1.2rem;

}


.header {
    background-color: #F596BD;
    font-size: 1.5rem;
    width:100%;
    padding: 0.6rem;
    
}

@media all and (max-width: 480px) {
    .header {
        width: 100%;
    }
}
.titulo {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2.5rem;

}

.navegador {
    display: flex;
    justify-content: space-between;
}

.listahome {
    display: flex;
    list-style: none;
    align-items: center;
    color: #474747;
}

.navegador ul li a {
    text-decoration: underline;
    font-weight: 1000;
    color: #4B4A49;
    margin: 0.3rem;
    padding: 0.3rem;
    transition-property: background;
    transition-duration: 1s;
    transition-delay: 0.1s;
    border-radius: 2em;
}

.navegador ul li a:hover {
    background: rgb(233, 174, 174);
}

@media all and (max-width: 480px) {
    .navegador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titulo {
        font-size: 2rem;
    }
    .listahome {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listahome li {
        padding: 0.3rem;
    }
}

.subtitulo {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    margin: 2rem;
    font-size: 3rem;
}





.contenedorindex {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.imagenes {
    transition: all 0.6s ease;
    cursor: pointer;
    padding: 20px;
    -ms-box-shadow: -1px -1px 0px 0px #836d1a;
    -webkit-box-shadow: -1px -1px 0px 0px #836d1a;
    -o-box-shadow: -1px -1px 0px 0px #836d1a;
    box-shadow: -1px -1px 0px 0px #836d1a;
    -mox-box-shadow: -1px -1px 0px 0px #836d1a;

}

.imagenes:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.articulos__home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin: 1.5rem;
    background-color: #F596BD;
}

.articulos__texto {
    color: white;
    line-height: 1.5rem;
}

strong {
    font-size: 1.6rem;
    color: #836d1a;
    font-weight: 800;
}

@media all and (max-width: 480px) {
    .contenedorindex {
        padding: 1.3rem;
    }
    .subtitulo {
        font-size: 2.5rem;
    }
    .articulos__home {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
    }
    .imagenes {
        width: 100%;
        margin-bottom: 3rem;
    }
}

/*seccion pestañas*/

.subtitulopestañas {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.contenedor1 {
    background-color: rgba(109, 98, 98, 0.79);
    padding: 2rem;
    margin: 2.5rem 0;
}

.contenedor1__articulo {
    display: flex;
    *width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem;
}
.contenedor1__div {
    padding: 0 1.2rem;
}

.contenedor1__parrafo {
    padding: 0.5rem 1.2rem;
    color: #fafafa;
    border-style: solid;
    border-color: #fafafa;
    box-shadow: 12px 11px 15px 3px rgba(33,29,29,0.75);
    -webkit-box-shadow: 12px 11px 15px 3px rgba(33,29,29,0.75);
    -moz-box-shadow: 12px 11px 15px 3px rgba(33,29,29,0.75);
}

@media all and (max-width: 480px) {
    .contenedor1 {
        width: 100%;
    }
    .contenedor1__articulo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contenedor2 {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.contenedor2__articulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    
}
.contenedor2__articulo h2 {
    font-size: 3rem;
    padding: 1.2rem;
}

.contenedor2__parrafo {
    line-height: 1.5rem;
    padding: 1.6rem;
    color: #fafafa;
    background-color: #61605f;
    box-shadow: 10px 8px 12px 4px rgba(133,116,116,0.78);
    -webkit-box-shadow: 10px 8px 12px 4px rgba(133,116,116,0.78);
    -moz-box-shadow: 10px 8px 12px 4px rgba(133,116,116,0.78);
}

@media all and (max-width: 480px) {
    .contenedor2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.foot {
    background-color: rgb(41, 38, 38);
    font-size: 1rem;
    padding: 0.6rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.div1 ul {
    padding-top: 2rem;
}

.div1 ul li{
    display: inline;
    padding: 1.3rem 1.6rem;
}

.div2 {
    padding: 1.6rem;
}
.textofooter{
    padding: 0.6rem;
}


