@mixin subtitulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 3rem;
}

@mixin titulo_articulos {
        font-size: 2.3rem;
        padding: 0.5rem 0;
}

